@import url("/public/resources/font/iranyekan/css/fontiran.css");
@import url("/public/resources/font/chandstate/css/chandstate.css");

body {
    background-color: #e5e5e5 !important;
    color: #4a4a4a !important;
    text-align: right;
}