@import url("/public/resources/font/iranyekan/css/fontiran.css");
@import url("/public/resources/font/chandstate/css/chandstate.css");

body {
    background-color: #f7f7f7 !important;
    color: #4a4a4a !important;
}

.logo {
    font-family: "chandstate";
}